<a href="https://colab.research.google.com/github/Gkcoli/CCDATSCL_ASSIGNMENT_COM222-ML/blob/main/CCDATSCL_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Dataâ€”a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [27]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [28]:
display(df.head(10))

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [29]:
df.columns.tolist()

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Display the dataframe shape:

In [30]:
# put your answer here
display(df.shape)

(48895, 16)

Identify the numerical features:

In [31]:
numerical_features = df.select_dtypes(include=np.number).columns.tolist()
display("Numerical Features:", numerical_features)

'Numerical Features:'

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [32]:
# put your answer here
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
display("Categorical Features:", categorical_features)

'Categorical Features:'

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?



* What are the most popular neighborhoods for Airbnb rentals in NYC, and how do their prices compare?
*    Are there specific host characteristics (e.g., number of listings) that correlate with higher review rates or availability?
* How do different room types (e.g., 'Entire home/apt', 'Private room') affect pricing and review frequency?
*  What is the distribution of minimum nights required for bookings, and how does this impact pricing or reviews?
* Which areas have the highest availability throughout the year, and are these also the most expensive or cheapest?

## B. Structuring

Check if the dataset has proper column types

In [33]:
my_dtypes = df.dtypes
display(my_dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [34]:
# put your answer here
my_index = df.index
display(my_index)

RangeIndex(start=0, stop=48895, step=1)

In [35]:
df.index.is_unique, df.index.hasnans

(True, False)

Check if the dataset has duplicated rows

In [36]:
# put your answer here
my_duplicates = df[df.duplicated()]
display(my_duplicates)

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [37]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates â†’ datetime).

In [38]:
df['last_review'] = pd.to_datetime(df['last_review'])

Identify at least one structural issue and describe how to fix it.

In [39]:
df['id'] = df['id'].astype('string')
df['host_id'] = df['host_id'].astype('string')

## C. Cleaning

Check for missing values

In [40]:
# put your answer here
missing_values = df.isnull().sum()
display(missing_values)

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [41]:
# Summary statistics for minimum_nights
display(df['minimum_nights'].describe())

# Identify outliers (e.g., nights > 365)
outliers_minimum_nights = df[df['minimum_nights'] > 365]
display(outliers_minimum_nights.head())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1305,568684,800sqft apartment with huge terrace,2798644,Alessandra,Brooklyn,Bushwick,40.70202,-73.92402,Entire home/apt,115,370,6,2018-04-15,0.09,1,365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaT,NaN,1,362
5767,4204302,Prime W. Village location 1 bdrm,17550546,Genevieve,Manhattan,Greenwich Village,40.73293,-73.99782,Entire home/apt,180,1250,2,2014-11-09,0.03,1,365
7355,5431845,Beautiful Fully Furnished 1 bed/bth,3680008,Aliya,Queens,Long Island City,40.75104,-73.93863,Entire home/apt,134,500,30,2018-06-24,0.57,1,90
8014,6169897,Wonderful Large 1 bedroom,10720264,John,Manhattan,Harlem,40.82135,-73.95521,Entire home/apt,75,500,0,NaT,NaN,1,362

Check for invalid values (e.g., price â‰¤ 0)

In [42]:
# put your answer here
invalid_prices = df[df['price'] <= 0]
display(invalid_prices.head())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,â˜…Hostel Style Room | Ideal Traveling Buddiesâ˜…,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73

Apply a missing-value strategy (drop, fill, or flag)

In [43]:
# put your answer here
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

# Optionally fill last_review missing values with a placeholder date
df['last_review'] = df['last_review'].fillna(pd.to_datetime("2000-01-01"))

Apply an outlier-handling strategy

In [44]:
# Cap minimum_nights at 30
df['minimum_nights'] = df['minimum_nights'].clip(upper=30)

# Remove invalid price rows
df = df[df['price'] > 0]

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [45]:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']
df['review_rate_per_month'] = df['number_of_reviews'] / df['reviews_per_month']
price_threshold = df['price'].quantile(0.75)
df['is_expensive'] = df['price'] > price_threshold

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [46]:
agg_neighbourhood_group = (
    df.groupby('neighbourhood_group')
    .agg(avg_price=('price', 'mean'),
         listings=('id', 'count'),
         unique_hosts=('host_id', 'nunique'))
    .reset_index()
)
agg_neighbourhood_group

  neighbourhood_group   avg_price  listings  unique_hosts
0               Bronx   87.577064      1090           789
1            Brooklyn  124.438915     20095         15965
2           Manhattan  196.884903     21660         16577
3              Queens   99.517649      5666          3983
4       Staten Island  114.812332       373           256

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be â‰¥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [52]:
viol_price = df[df['price'] <= 0]
viol_host_null = df['host_id'].isna()
viol_min_nights = df['minimum_nights'] < 1

validation_report = pd.DataFrame({
    "rule": ["Price must be positive", "Host ID should not be null", "minimum_nights_ge_1"],
    "violations": [viol_price.shape[0], viol_host_null.sum(), viol_min_nights.sum()]
})
validation_report

                         rule  violations
0      Price must be positive           0
1  Host ID should not be null           0
2         minimum_nights_ge_1           0

In [48]:
rows_to_drop = viol_price.index
df_validated = df.drop(rows_to_drop).copy()

## F. Publishing

Select final columns for publication.

In [58]:
final_columns = [
    "name","neighbourhood_group", "neighbourhood",
    "latitude", "longitude", "room_type", "price", "minimum_nights", "number_of_reviews",
    "reviews_per_month", "availability_365",
    "price_per_minimum_night", "review_rate_per_month", "is_expensive"
]
df_final = df[final_columns].copy()

In [59]:
display(df_final.info())

<class 'pandas.core.frame.DataFrame'>
Index: 48884 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     48868 non-null  object
 1   neighbourhood_group      48884 non-null  object
 2   neighbourhood            48884 non-null  object
 3   latitude                 48884 non-null  float64
 4   longitude                48884 non-null  float64
 5   room_type                48884 non-null  object
 6   price                    48884 non-null  int64
 7   minimum_nights           48884 non-null  int64
 8   number_of_reviews        48884 non-null  int64
 9   reviews_per_month        48884 non-null  float64
 10  availability_365         48884 non-null  int64
 11  price_per_minimum_night  48884 non-null  float64
 12  review_rate_per_month    38833 non-null  float64
 13  is_expensive             48884 non-null  bool
dtypes: bool(1), float64(5), int64(4), object(4)
memory usage: 6.3+ MB

None

In [60]:
display(df_final.head())

,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,Clean & quiet apt home by the park,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365,149.0,42.857143,False
1,Skylit Midtown Castle,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355,225.0,118.421053,True
2,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,365,50.0,NaN,False
3,Cozy Entire Floor of Brownstone,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194,89.0,58.189655,False
4,Entire Apt: Spacious Studio/Loft by central park,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0,8.0,90.000000,False

Export cleaned dataset as "cleaned_airbnb.csv"

In [61]:
# put your answer here
df_final.to_csv("cleaned_airbnb.csv", index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [62]:
# put your answer here
validation_report.to_csv("airbnb_validation_report.csv", index=False)
agg_neighbourhood_group.to_csv("airbnb_agg_neighbourhood_group.csv", index=False)